.wpml-ls-statics-shortcode_actions{
	display: inline-block !important;
	a{
		color:$color__text-main1;
	}

	.wpml-ls-current-language{
		a{
			font-weight:bold;
		}
	}
}
.wpml-ls-legacy-list-horizontal {
	li{
		position:relative;
		padding-right: 12px !important;
    	margin-right: 2px !important;

		&:after{
			position:absolute;
			content: '/';
		    top: 50%;
		    transform: translateY(-50%);
		    color: #fff;
		    right: 0px;
		}

		&:last-child{
			&:after{
				display:none;
			}
		}
	}
	a{
		padding:0px !important;
	}
}