$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #000000;
$color__bg: #000000;
$color__text-main1: #ffffff;

$color__border-button: #000;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$section4_color:#637966;
$section7_color:#f0f0f0;

$color__menu-text: #ffffff;
$footer_widget-text: #6e6e6e !default;
$footer_widget-text-hover: #000000 !default;

$footer-text: #000000 !default;
$footer-text-hover: #6e6e6e !default;

$reserver_btn_bg: #636363!default;
$reserver_btn_text_color: #ffffff !default;
$reserver_btn_bg_hover: #000000 !default;


