$section4-top: '../images/domaine_Rampale_Accueil_transition.jpg' !default;
$menu-icon: '../images/burger_menu.png' !default;
$menu-icon-close: '../images/menu-close.png' !default;

$plan_icon: '../images/DR_avion.png' !default;
$address_icon: '../images/DR_mail.png' !default;
$parking_icon: '../images/DR_parking.png' !default;
$recharge_icon: '../images/DR_recharge.png' !default;
$train_icon: '../images/DR_Train.png' !default;

$calender_icon: '../images/calender_icon.png' !default;
$user_icon: '../images/adult.png' !default;
$calender_arrow_icon: '../images/cal_arrow.png' !default;
$submenu_arrow_icon: '../images/submenu_arrow.png' !default;